<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="81936f">  <td>21/07/05 16:45:42</td>   <td>0</td> <td title="&lt;&lt;TestBase.endReport()[pri:0, instance:com.pwm.BaseClass.TestBase@b4711e2]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@455668354</td>   <td></td> </tr>
<tr bgcolor="fb79a0">  <td>21/07/05 16:45:31</td>   <td>-10883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.pwm.TestCases.LoginPageTest@58ce9668]">loginPageTitleTest</td> 
  <td>main@455668354</td>   <td></td> </tr>
<tr bgcolor="fb79a0">  <td>21/07/05 16:45:34</td>   <td>-7184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:2, instance:com.pwm.TestCases.LoginPageTest@58ce9668]">loginTest</td> 
  <td>main@455668354</td>   <td></td> </tr>
<tr bgcolor="fb79a0">  <td>21/07/05 16:45:26</td>   <td>-15344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.pwm.TestCases.LoginPageTest@58ce9668]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@455668354</td>   <td></td> </tr>
<tr bgcolor="fb79a0">  <td>21/07/05 16:45:31</td>   <td>-10700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.pwm.TestCases.LoginPageTest@58ce9668]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@455668354</td>   <td></td> </tr>
<tr bgcolor="81936f">  <td>21/07/05 16:45:31</td>   <td>-10775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.pwm.TestCases.LoginPageTest@58ce9668]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@455668354</td>   <td></td> </tr>
<tr bgcolor="81936f">  <td>21/07/05 16:45:41</td>   <td>-590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.pwm.TestCases.LoginPageTest@58ce9668]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@455668354</td>   <td></td> </tr>
</table>
