<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b9ae">  <td>21/07/04 18:12:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.pwm.TestCases.LoginPageTest@3403e2ac]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-2@1054069089</td>   <td></td> </tr>
<tr bgcolor="80b9ae">  <td>21/07/04 18:12:30</td>   <td>2098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.pwm.TestCases.LoginPageTest@3403e2ac]">loginPageTitleTest</td> 
  <td>TestNG-test=Test1-1@1775259912</td>   <td></td> </tr>
<tr bgcolor="b9b57a">  <td>21/07/04 18:12:30</td>   <td>2152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.pwm.TestCases.LoginPageTest@3403e2ac]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-2@1054069089</td>   <td></td> </tr>
<tr bgcolor="80b9ae">  <td>21/07/04 18:12:30</td>   <td>2220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.pwm.TestCases.LoginPageTest@3403e2ac]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-2@1054069089</td>   <td></td> </tr>
<tr bgcolor="80b9ae">  <td>21/07/04 18:12:32</td>   <td>3848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:2, instance:com.pwm.TestCases.LoginPageTest@3403e2ac]">loginTest</td> 
  <td>TestNG-test=Test1-2@1054069089</td>   <td></td> </tr>
<tr bgcolor="b9b57a">  <td>21/07/04 18:12:33</td>   <td>4975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.pwm.TestCases.LoginPageTest@3403e2ac]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test1-2@1054069089</td>   <td></td> </tr>
</table>
